$device-width: 330;
$vw: (100vw/$device-width);

$font12:12 * $vw;
$font14:14 * $vw;
$font16:16 * $vw;
$font18:18 * $vw;
$font20:20 * $vw;
$font22:22 * $vw;
$font24:24 * $vw;


$font12Rem:1.2rem;
$font14Rem:1.4rem;
$font16Rem:1.6rem;
$font18Rem:1.8rem;
$font20Rem:2rem;
$font22Rem:2.2rem;
$font24Rem:2.4rem;
